@import url('fonts/blenderpro.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
    width: 100%;
    height: 600px;
    max-width: none;
    object-fit: contain;
}

.prose .embed-responsive iframe {
    width: 100%;
}